<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>
  <img class="avatar" src={{imgUrl}} alt="avatar">
  <h2>Hello {{givenName}} {{familyName}}</h2>
  <a href="/auth/logout">
    <h4> Log out</h4>
  </a>
</section>